<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <div class="page_title">
        <h3>My Page</h3>
      </div>
    </div>
  </div>
</div>

<section class="user_info mb-4">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="my-page-section_title">
          <h4>ユーザー情報</h4>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="info">
          <p>ユーザー名： <%= current_user.name %></p>
          <p>メールアドレス： <%= current_user.email %></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="ボタン">
          <%= link_to "ユーザー情報編集", user_edit_path, class: "btn btn-custom2" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pet_info mb-4">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="my-page-section_title">
          <h4>ペット一覧</h4>
          <%= link_to "+ ペット登録", new_pet_path, class: "btn"%>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <% @pets.each do |pet| %>
      <div class="card w-25 mt-4 shadow-sm">
        <%= link_to pet_path(pet.id) do %>
          <%= image_tag pet.pet_image, class: "card-img-top card-img" %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title"><%= pet.name %></h5>
              <table class="card-text d-none d-md-block">
                <tr>
                  <td>種類：</td>
                  <td><%= pet.kind %></td>
                </tr>
                <tr>
                  <td>性別：</td>
                  <td><%= pet.sex_i18n %></td>
                </tr>
                <tr>
                  <td>誕生日：</td>
                  <td><%= l pet.birthday, format: :day %></td>
                </tr>
                <tr>
                  <td>うちに来た日：</td>
                  <td><%= l pet.came_day, format: :day %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>