<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <div class="page_title">
        <h3>My Page</h3>
      </div>
    </div>
  </div>
</div>

<section class="user_info">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="section_title">
          <h4>ユーザー情報</h4>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="info">
          <p>ユーザー名： <%= current_user.name %></p>
          <p>メールアドレス： <%= current_user.email %></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="ボタン">
          <%= link_to "ユーザー情報編集", user_edit_path %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pet_info">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="section_title">
          <h4>ペット一覧</h4>
          <%= link_to "+ ペット登録", new_pet_path, class: "btn"%>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <% @pets.each do |pet| %>
      <div class="card w-25 mt-4 shadow-sm">
        <%= link_to pet_path(pet.id) do %>
          <%= image_tag pet.pet_image, class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <p class="pet_name">名前: <%= pet.name %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <div class="ボタン一覧（仮）">

        <%= link_to "えさ一覧", feeds_path %><br>
        <%= link_to "通知一覧", notifications_path %>
      </div>
    </div>
  </div>
</div>