<h1>通知一覧</h1>

<%= link_to "通知を追加する", new_notification_path %>

<table>
  <tr>
    <th>通知日時</th>
    <th>通知内容</th>
    <th></th>
    <th></th>
  </tr>
  <% @notifications.each do |notification| %>
  <tr>
    <td><%= notification.due_date.strftime('%Y/%m/%d %-H:%M') %></td>
    <td><%= notification.task %></td>
    <td><%= link_to "編集", edit_notification_path(notification.id) %></td>
    <td><%= link_to "削除", notification_path(notification.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
  </tr>
  <% end %>
</table>