<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <h2>通知登録</h2>

      <!-- バリデーションエラー -->
      <div class="errors">
        <% if @notification.errors.any? %>
          <%= @notification.errors.count %>件のエラーが発生しました
          <ul>
            <% @notification.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <!-- ユーザーのLINE連携が完了している場合は、フォームを表示 -->
      <% if current_user.uid.present? %>
        <%= form_with model: @notification, url: notifications_path, method: :post do |f| %>
          <div class="field">
            <%= f.label :due_date, "通知したい日時" %><br>
            <%= f.datetime_select :due_date, {default: Time.zone.now, minute_step: 15} %>
          </div>

          <div class="field">
            <%= f.label :task, "通知内容" %><br>
            <%= f.text_field :task %>
          </div>

          <div class="actions mt-3">
            <%= f.submit "保存" %>
          </div>
        <% end %>
      <!-- LINE連携が完了していない場合は、連携用リンクを表示 -->
      <% else %>
        <p>通知機能を使用する場合は、先に<%= link_to "LINEアカウントを連携", user_line_omniauth_authorize_path, method: :post %>する必要があります。</p>
      <% end %>
    </div>
  </div>
</div>