<%= f.hidden_field :default_item, :value => false %>

<div class="field">
  <%= f.label :name, "項目名" %> ※必須<br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :unit, "単位" %><br>
  <%= f.text_field :unit %>
</div>

<div class="actions mt-3">
  <%= f.submit "変更を保存" %>
</div>