<h1><%= @pet.name %>の<%= @care.care_item.name %>の記録修正</h1>

<%= form_with model: @pet_care, url: pet_care_pet_care_path(pet_id: @pet.id, care_id: @care.id, id: @pet_care.id), method: :patch do |f| %>
  <%= f.hidden_field :pet_id, :value => @pet.id %>
  <%= f.hidden_field :care_id, :value => @care.id %>

  <%= f.label :date_time, "日時" %>
  <%= f.datetime_field :date_time %><br>

  <%= f.label :value, "値" %>
  <%= f.text_field :value %><br>

  <%= f.label :memo, "メモ" %>
  <%= f.text_area :memo %><br>

  <%= f.submit "修正を保存" %>
<% end %>