<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <h2><%= @pet.name %>の<%= @care.care_item.name %>の記録修正</h2>
      <%= form_with model: @pet_care, url: pet_care_pet_care_path(pet_id: @pet.id, care_id: @care.id, id: @pet_care.id), method: :patch do |f| %>
        <%= f.hidden_field :pet_id, :value => @pet.id %>
        <%= f.hidden_field :care_id, :value => @care.id %>

        <div class="field">
          <%= f.label :date_time, "日時" %><br>
          <%= f.datetime_select :date_time, {default: Time.zone.now} %>
        </div>

        <div class="field">
          <%= f.label :value, "値" %><br>
          <%= f.text_field :value %> <%= @care.care_item.unit %>
        </div>

        <div class="field">
          <%= f.label :memo, "メモ" %><br>
          <%= f.text_area :memo %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "変更を保存" %>
        </div>
      <% end %>
    </div>
  </div>
</div>