<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <div class="page_title">
        <h2><%= @pet.name %>の<%= @care.care_item.name %>の記録一覧</h2>
      </div>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <%= link_to "+ 記録する", new_pet_care_pet_care_path(pet_id: @pet.id, care_id: @care.id), class: "btn" %>
    </div>
  </div>
</div>

<section class="mb-4">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-10">
        <table class="table">
          <tr>
            <th>日時</th>
            <th>
              <% if @care.care_item.unit.present? %>
                値(<%= @care.care_item.unit %>)
              <% else %>
                値
              <% end %>
              </th>
            <th>メモ</th>
            <th></th>
            <th></th>
          </tr>
          <% @pet_care.each do |pet_care| %>
          <tr>
            <td><%= pet_care.date_time.strftime('%Y/%m/%d %-H:%M') %></td>
            <td><%= pet_care.value %></td>
            <td><%= pet_care.memo %></td>
            <td><%= link_to "修正", edit_pet_care_pet_care_path(pet_id: @pet.id, care_id: @care.id, id: pet_care.id), class: "btn text-white btn-simple" %></td>
            <td><%= link_to "削除", pet_care_pet_care_path(pet_id: @pet.id, care_id: @care.id, id: pet_care.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn text-white btn-attention' %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div>
        <%= link_to pet_cares_path(@pet), class: 'btn btn-custom2 mr-3' do %>
          <%= @pet.name %>のお手入れ項目一覧に戻る
        <% end %>
      </div>
    </div>
  </div>
</section>