<h1><%= @pet.name %>の体重・身長修正画面</h1>

<%= form_with model: @body_info, url: pet_body_info_path, method: :patch do |f| %>
  <%= f.label :length, "全長" %>
  <%= f.number_field :length, step: "0.1" %> cm<br>

  <%= f.label :weight, "体重" %>
  <%= f.number_field :weight, step: "0.1" %> kg<br>

  <%= f.label :memo, "メモ" %>
  <%= f.text_area :memo %><br>

  <%= f.submit "保存" %>
<% end %>