<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <h2>えさ登録</h2>

      <!-- バリデーションエラー -->
      <div>
        <% if @feed.errors.any? %>
          <%= @feed.errors.count %>件のエラーが発生しました
          <ul>
            <% @feed.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <%= form_with model: @feed, url: feeds_path, method: :post do |f| %>
        <div class="field">
          <%= f.label :feed_name, "名前 ※必須" %><br>
          <%= f.text_field :feed_name %>
        </div>

        <div class="field">
          <%= f.label :maker, "メーカー" %><br>
          <%= f.text_field :maker %>
        </div>

        <div class="field">
          <%= f.label :classification, "区分 ※必須" %><br>
          <%= f.radio_button :classification, Feed.classifications.key(0) %>
          <%= f.label :classification_meal, Feed.classifications_i18n[:meal] %>
          <%= f.radio_button :classification, Feed.classifications.key(1) %>
          <%= f.label :classification_snack, Feed.classifications_i18n[:snack] %>
        </div>

        <div class="field">
        <label>グラムあたりのカロリー</label><br>
          <%= f.number_field :amount %> g あたり <%= f.number_field :calorie, step: "0.1" %> kcal
        </div>

        <div class="actions mt-3">
          <%= f.submit "保存" %>
        </div>
      <% end %>
    </div>
  </div>
</div>