<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <div class="page_title">
        <h2><%= @pet.name %>の食事記録</h2>
      </div>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <%= link_to "+ 新規記録", new_pet_meal_path(@pet), class: "btn" %>
    </div>
  </div>
</div>

<section class="mb-4">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-8">
        <table class="table">
          <tr>
            <th>日時</th>
            <th>総摂取カロリー(kcal)</th>
          </tr>
          <% @meals.each do |meal| %>
          <tr>
            <td>
              <%= link_to pet_meal_path(@pet, meal.datetime) do %>
                <%= meal.datetime.strftime('%Y/%m/%d') %>
              <% end %>
            </td>
            <td>
              <%= meal.calorie %>kcal
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-8 btn-pet-show">
        <%= link_to pet_path(@pet.id), class: 'btn btn-custom2' do %>
          <%= @pet.name %>の詳細画面に戻る
        <% end %>
      </div>
    </div>
  </div>
</section>



