<h1><%= @pet.name %>の食事管理一覧</h1>

<table>
  <tr>
    <th>日付</th>
    <th>時間</th>
    <th>食べたもの(kcal)</th>
    <th>区分</th>
    <th>総カロリー</th>
  </tr>
  <% @meals.each do |meal| %>
  <tr>
    <td><%= l meal.created_at, format: :day %></td>
    <td><%= l meal.created_at, format: :time %></td>
    <td><%= meal.feed.feed_name %></td>
    <td><%= meal.feed.classification_i18n %></td>
    <td>⭐️あとで計算する⭐️</td>
  </tr>
  <% end %>
</table>
