<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-10 mb-5">
      <h2><%= @pet.name %>の食事記録の詳細</h2>
      <table class="table">
        <tr>
          <th>日時</th>
          <th>食べたもの(kcal)</th>
          <th>区分</th>
          <th>カロリー</th>
          <th></th>
          <th></th>
        </tr>
        <% @meals.each do |meal| %>
        <tr>
          <td><%= l meal.datetime, format: :long %></td>
          <td><%= meal.feed.feed_name %></td>
          <td><%= meal.feed.classification_i18n %></td>
          <td>
            <% if (meal.feed.amount && meal.feed.calorie).present? %>
              <%= meal.calorie_intake %> kcal
            <% end %>
          </td>
          <td><%= link_to "編集", edit_pet_meal_path(meal.pet, meal.id), class: "btn text-white btn-simple" %></td>
          <td><%= link_to "削除", pet_meal_path(meal.pet, meal.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn text-white btn-attention' %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div>
      <%= link_to "食事管理一覧に戻る", pet_meals_path(@pet), class: 'btn btn-custom2' %>
    </div>
  </div>
</div>