<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h2><%= @pet.name %>の編集画面</h2>

      <%= form_with model: @pet do |f| %>
        <div class="field">
          <%= f.label :pet_image, "画像" %><br>
          <%= f.file_field :pet_image, accept: "image/*" %>
        </div>

        <div class="field">
          <%= f.label :name, "名前" %><br>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :kind, "種類" %><br>
          <%= f.text_field :kind %>
        </div>

        <div class="field">
          <%= f.label :birthday, "誕生日" %><br>
          <%= f.date_select :birthday %>
        </div>

        <div class="field">
          <%= f.label :came_day, "うちに来た日" %><br>
          <%= f.date_select :came_day %>
        </div>

        <div class="field">
          <%= f.label :sex, "性別" %><br>
          <%= f.radio_button :sex, Pet.sexes.key(0) %>
          <%= f.label :sex_male, Pet.sexes_i18n[:male] %>
          <%= f.radio_button :sex, Pet.sexes.key(1) %>
          <%= f.label :sex_female, Pet.sexes_i18n[:female] %>
          <%= f.radio_button :sex, Pet.sexes.key(2) %>
          <%= f.label :sex_not_known, Pet.sexes_i18n[:not_known] %>
        </div>

        <div class="field">
          <%= f.label :memo, "メモ" %><br>
          <%= f.text_area :memo %>
        </div>

        <div class="actions mt-3">
          <%= f.submit '変更を保存' %>
        </div>
      <% end %>
    </div>
  </div>
</div>