<h1>ペット登録画面</h1>

<%= form_with model: @pet do |f| %>
  <%= f.label :image, "画像" %>
  <%= f.file_field :image, accept: "image/*" %><br>

  <%= f.label :name, "名前" %>
  <%= f.text_field :name %><br>

  <%= f.label :kind, "種類" %>
  <%= f.text_field :kind %><br>

  <%= f.label :birthday, "誕生日" %>
  <%= f.date_field :birthday %><br>

  <%= f.label :came_day, "うちに来た日" %>
  <%= f.date_field :came_day %><br>

  <%= f.label :sex, "性別" %>
  <%= f.radio_button :sex, Pet.sexes.key(0) %>
  <%= f.label :sex_male, Pet.sexes_i18n[:male] %><br>
  <%= f.radio_button :sex, Pet.sexes.key(1) %>
  <%= f.label :sex_female, Pet.sexes_i18n[:female] %><br>
  <%= f.radio_button :sex, Pet.sexes.key(2) %>
  <%= f.label :sex_not_known, Pet.sexes_i18n[:not_known] %><br>

  <%= f.label :memo, "メモ" %>
  <%= f.text_area :memo %><br>

  <%= f.submit '登録' %>
<% end %>