<h1><%= @pet.name %>の詳細画面</h1>

<%= image_tag @pet.get_pet_image(200,200) %>

<p><strong>名前:</strong> <%= @pet.name %></p>
<p><strong>種類:</strong> <%= @pet.kind %></p>
<p><strong>誕生日:</strong> <%= l @pet.birthday, format: :day %></p>
<p><strong>うちに来た日:</strong> <%= l @pet.came_day, format: :day %></p>
<p><strong>性別:</strong> <%= @pet.sex_i18n %></p>
<p><strong>メモ:</strong> <%= @pet.memo %></p>

<%= link_to '編集', edit_pet_path(@pet.id) %>
<%= link_to '削除', pet_path(@pet.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<%= link_to 'マイページに戻る', my_page_path %>
<%= link_to "体重・全長管理", new_pet_body_info_path(@pet) %>
<%= link_to "食事管理", pet_meals_path(@pet) %>
<%= link_to "その他の記録", new_care_path(@pet) %>

